@import "colors.css";
@import "divider.css";
@import "battery.css";
@import "clock.css";
@import "workspaces.css";
@import "hyprland-window.css";
@import "power-profile.css";

window#waybar {
  background: transparent;
  color: @text;
  font-family: "FiraCode Nerd Font";
  font-size: 18px;
}

.modules-left,
.modules-right {
  background: alpha(@crust, 0.8);
  border-radius: 9999px;
  margin: 6px 8px;
  padding: 0 14px;
}
